version: '3.8'

services:
  app:
    image: todo-frontend-dev
    build:
      context: .
      dockerfile: dev.Dockerfile 
    ports:
      - 5001:3000
    container_name: todo-frontend-dev
  debug-helper:
    image: busybox
  