services:
  
  app:
    image: todo-frontend
    build:
      context: . 
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    container_name: todo-frontend
  
  nginx:
    image: nginx:1.20.1
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    container_name: todo-frontend
    depends_on:
      - app 
  
  