services:

  app:
    image: todo-frontend-dev
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - 8081:3000
    container_name: todo-frontend

  nginx:
    image: nginx:1.20.1
    volumes:
       - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    container_name: reverse-frontend-dev
    depends_on:
      - app